*{
    margin: 0px;
    padding: 0px;
    
    
}

.character-site{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.header{
    width: 100%;
}

.headerStyle{
    color: #73e9c2;
    margin-bottom: 0px;
}

.subtitle{
    text-align: center;
    margin-top: 10px;
    
}

.image{
    margin: 15px;
}

.card{
    margin: 10px;
    border-radius: 75%;
}

.description{
    margin-left: 10px;
    padding: 10px;
}

.card-text{
    margin: 0px;
}

.card:hover{
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.05);
}

